@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

@layer utilities {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #d4e0ee;
    font-family: "Outfit", sans-serif;
  }
}
